@use "colors";

// $active-theme: $light-theme;

$font-family-body: "Source Sans Pro", sans-serif;
$font-family-heading: "Bungee", cursive;
$font-weight-regular: 300;
$font-weight-bold: 600;

$font-size-body: 1.125rem;

$color-text-body: #545149;
$color-text-heading: var(--primary);
$color-text-accent: var(--accent);
$color-text-inverse: var(--neutral-100);

$shadow: 0.25rem 0.25rem 1.25rem gray;

$button-color-default: var(--primary);
$button-text-default: var(--neutral);
$button-color-default-hover: var(--accent);
$button-border-radius-default: 2px;
$button-padding-default: 2em 2em;

$background: #f4f1ec;