
$font-family-body: "Source Sans Pro", sans-serif;
$font-family-logo: "Bungee", cursive;
$font-weight-regular: 300;
$font-weight-bold: 600;
$font-size-body: 1rem;
$font-size-heading-large: 1.5rem;
$font-size-heading-regular: 1.2rem;
$font-size-logo: 2.5rem;
$font-size-footer: 0.8rem;

$color-text-body: #545149;
$color-text-inverse: white;

$color-background: #f4f1ec;
$color-primary: #4056A1;
$color-primary-muted: #4057a175;
$color-accent: #daa520;
$color-accent-muted-100: #dddbd6;
$color-accent-muted-200: #a4a3a0;
$color-box-shadow: gray;

$button-border-radius: 2px;
$button-padding: 0.6em 1.5em;

