@use "../abstracts" as *;

.nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: $color-primary;
  color: $color-text-inverse;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;

  &__logo {
    font-family: $font-family-logo;
    font-size: $font-size-logo;
    margin-bottom: 0.5em;
  }

  &__menu {
    list-style: none;
    text-align: center;
    font-size: $font-size-heading-regular;
    margin-bottom: 0.5em;
  }

  &__icon {
    color: red;
  }
}

.fa-angles-down:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  50% {transform: translateY(15%);}
}