@use "../abstracts" as *;

.new-tweet {
  margin-top: 30px;
  margin-bottom: 50px;
  display: none;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: $font-weight-bold;
  }

  &__text {
    border: none;
    outline: none;
    overflow: hidden;
    background-color: inherit;
    border-bottom: 3px solid dimgray;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  &__footer {
    font-family: $font-family-logo;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__error {
    font-family: $font-family-body;
    font-size: $font-size-footer;
    font-weight: $font-weight-bold;
    color: #ba3838;
    margin-left: 1em;
    margin-right: auto;
  }
}