@use "../abstracts" as *;

.tweet {
  border: 3px solid dimgray;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;


  &:hover {
    box-shadow: 5px 5px #4057a175;
  }

  > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;

    > * {
      margin-right: 0.5em;
    }
  }

  &__avatar {
    height: 2.7em;
  }

  &__handle {
    color: #4057a175;
  }

  &__text {
    font-weight: $font-weight-bold;
    margin-bottom: 0.7em;
    border-bottom: 3px solid dimgray;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-footer;
  }
  
  &__icon {
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      color: goldenrod;
    }
  }
}