@use "../abstracts" as *;

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $button-padding;
  border-radius: $button-border-radius;
  
  &:hover,
  &:active {
    box-shadow: 3px 3px $color-box-shadow;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-text-inverse;
  }

  &--muted {
    color: $color-text-inverse;

    &:hover,
    &:active {
      background-color: $color-accent-muted-200;
    }
  }

  &--composer {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    box-shadow: 0 0 3px $color-box-shadow;
  }

}



