@use "../abstracts" as *;

.header {
  height: 400px;
  background-color: #daa520;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

  &__avatar {
    margin-top: 130px;
    height: 10em;
  }

  &__username {
    font-size: $font-size-heading;
    margin: 0.5em 0 1em;
  }
}