@use "../abstracts" as *;

.header {
  
  &__outer-container {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-color: #daa520;
    width: 100%;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__menu {
    display: none;
  }

  &__avatar {
    margin-top: 130px;
    height: 10rem;
  }

  &__username {
    font-size: $font-size-heading;
    margin: 0.5em 0 1em;
  }
}

