.nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;

  &__logo {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  &__menu {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  // &__tagline {
  //   font-size: 1rem;
  // }

  &__icon {
    color: red;
  }
}

// .fa-angles-down:hover {
//   animation: bounce 1s infinite;
// }

// @keyframes bounce {
//   50% {transform: translateY(15%);}
// }