.header {
  height: 400px;
  background-color: #daa520;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.header__avatar {
  margin-top: 130px;
  height: 200px;
}

.header__username {
  font-size: 30px;
  margin: 0.5em 0 1em;
}