.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.5em;
  border-radius: 2px;
}
.btn:hover, .btn:active {
  box-shadow: 2px 2px 2px gray;
}
.btn--primary {
  background-color: #4056A1;
  color: white;
}
.btn--muted {
  color: white;
}
.btn--muted:hover, .btn--muted:active {
  background-color: #86888a;
}
.btn--composer {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  box-shadow: 0 0 3px gray;
}

.bare-list {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  padding-left: 0;
}

html {
  box-sizing: border-box;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f4f1ec;
  color: #545149;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

main {
  width: 90%;
  margin: auto;
}

b {
  font-weight: 600;
}

aside {
  display: none;
}

.header__outer-container {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: #daa520;
  width: 100%;
}
.header__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__menu {
  display: none;
}
.header__avatar {
  margin-top: 130px;
  height: 10rem;
}
.header__username {
  font-size: 1.2rem;
  margin: 0.5em 0 1em;
}

.nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.nav__logo {
  font-family: "Bungee", cursive;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.nav__menu {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.nav__icon {
  color: red;
}

.new-tweet {
  margin-top: 30px;
  margin-bottom: 50px;
  display: none;
}
.new-tweet__form {
  display: flex;
  flex-direction: column;
}
.new-tweet__label {
  font-weight: 600;
}
.new-tweet__text {
  border: none;
  outline: none;
  overflow: hidden;
  background-color: inherit;
  border-bottom: 3px solid dimgray;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.new-tweet__footer {
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-tweet__error {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ba3838;
  margin-left: 1em;
  margin-right: auto;
}

.tweet {
  border: 3px solid dimgray;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
.tweet > * {
  padding-left: 10px;
  padding-right: 10px;
}
.tweet__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet__user {
  display: flex;
  align-items: center;
}
.tweet__user > * {
  margin-right: 0.5em;
}
.tweet__avatar {
  height: 2.7em;
}
.tweet__handle {
  color: rgba(64, 87, 161, 0.4588235294);
}
.tweet__text {
  font-weight: 600;
  margin-bottom: 0.7em;
  border-bottom: 3px solid dimgray;
  padding-top: 1em;
  padding-bottom: 1em;
}
.tweet__footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.tweet__icon {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    margin-top: 120px;
  }

  .header {
    flex-grow: 1;
    min-width: 15%;
  }
  .header__outer-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .header__inner-container {
    display: flex;
    align-items: center;
    position: fixed;
    margin-right: 3rem;
  }
  .header__menu {
    display: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    font-weight: 600;
  }

  main {
    margin: 0 5.5rem;
    max-width: 800px;
  }

  .sidebar {
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    background-color: #dddbd6;
    flex-grow: 1;
    min-width: 20%;
  }
  .sidebar__container {
    margin-left: 3rem;
    max-width: 320px;
  }
  .sidebar__container > * {
    margin-bottom: 2em;
  }
  .sidebar__title {
    font-size: 1.5rem;
  }
  .sidebar__headline {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .sidebar__footer {
    font-size: 0.8rem;
  }
}
