nav {
  height: 120px;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav h1 {
  font-family: 'Bungee', cursive;
  font-size: 45px;
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0.5em;
}

.fa-angles-down {
  color: red;
}