nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 45px;
  margin-bottom: 0.5em;
}

.navbar {
  list-style: none;
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.fa-angles-down {
  color: red;
}

.fa-angles-down:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  50% {transform: translateY(15%);}
}