nav {
  height: 120px;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}

nav h1 {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  margin-left: 1.5em;
}

nav ul {
  list-style: none;
  margin-right: 1.5em;
  text-align: center;
}

nav strong {
  font-weight: bold;
}