.new-tweet {
  margin-top: 30px;
  margin-bottom: 50px;
  display: none;
}

.new-tweet__form {
  display: flex;
  flex-direction: column;
}

.new-tweet__label {
  font-weight: 600;
}

.new-tweet__text {
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 3px solid dimgray;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.new-tweet__footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet__error {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ba3838;
  margin-left: 1em;
  margin-right: auto;
}

.btn {
  background-color: #4056A1;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #374e98;
  box-shadow: 2px 2px dimgray;
}

.new-tweet__btn {
  border-radius: 2px;
  padding: 0.35em 0.8em;
}

.to-top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
}