.new-tweet {
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-tweet__form {
  display: flex;
  flex-direction: column;
}

.new-tweet__label {
  font-weight: 600;
}

.new-tweet__text {
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 3px solid dimgray;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.new-tweet__footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet__btn {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 6px 12px;
}