.tweet {
  border: 3px solid dimgray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.tweet:hover {
  box-shadow: 5px 5px #4057a175;
}

.tweet > * {
  padding-left: 10px;
  padding-right: 10px;
}

.tweet__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet__user {
  display: flex;
  align-items: center;
}

.tweet__user > * {
  margin-right: 0.5em;
}

.tweet__avatar {
  height: 2.7em;
}

.tweet__handle {
  color: #4057a175;
}

.tweet__text {
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 3px solid dimgray;
  padding-top: 30px;
  padding-bottom: 20px;
}

.tweet__footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.tweet__icon {
  margin: 3px;
}

.tweet__icon:hover {
  color: goldenrod;
}